.projects-section {
  padding: 80px 0 140px;
  background-image: url("../../../src/assets/Projects/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.projects-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #1f2235;
}

.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}

.footer-image img {
  max-width: 100%;
  height: 130px;
}

.projects-section .testi-item {
  background-color: white;
  padding: 30px;
  border-radius: 50px;
}

.projects-section .testi-item p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 10px;
  font-style: italic;
}

.projects-section .testi-item p .fa-quote-left {
  margin-right: 5px;
  color: tomato;
}

.projects-section .testi-item p .fa-quote-right {
  margin-left: 5px;
  color: tomato;
}

.projects-section .testi-comment .stars {
  margin: 0 0 20px;
}

.projects-section .testi-comment li {
  display: inline-block;
  margin: 0 1px;
}

.projects-section .project-info {
  position: relative;
  padding-top: 5px;
  min-height: 60px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-section .project-info img {
  width: 70%;
  border: 1px solid transparent;
  border-color: black;
  left: 0;
  top: 0;
}

.projects-section .project-info h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 2px;
}

.projects-section .project-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
}

/*# sourceMappingURL=Testimonial.css.map */
