.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../../assets/Home/bg.jpg");
}

/*# sourceMappingURL=Home.css.map */
