.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}
.about-me-container .about-me-parent {
  max-width: 1000px;
  width: 70%;
}
.about-me-container .about-me-parent .about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0 20px #1f2235;
}
.about-me-container .about-me-parent .about-me-card .about-me-profile {
  width: 50%;
  background-image: url("../../assets/AboutMe/me.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.about-me-container .about-me-parent .about-me-card .about-me-details {
  width: 48%;
  text-align: justify;
  padding: 30px;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-description {
  font-size: 16px;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-highlights {
  margin: 80px 0;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-highlights .highlights-heading {
  font-family: "Poppins Bold";
  font-size: 18px;
  margin: 0 0 5px 0;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-highlights .highlight {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 14px;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-highlights .highlight .highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #ff5823;
  border-radius: 50%;
}
.about-me-container .about-me-parent .about-me-card .about-me-details .about-me-options .highlighted-btn {
  margin: 0 0 0 30px;
}

@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px) {
  .about-me-profile {
    display: none;
  }

  .about-me-details {
    width: 100% !important;
  }
}
@media only screen and (max-width: 466px) {
  .about-me-options {
    display: flex;
    flex-direction: column;
  }

  .about-me-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }

  .about-me-options button {
    width: 100%;
  }
}

/*# sourceMappingURL=AboutMe.css.map */
